div.picture1 {
    width: 505px;
    height: 672px;
    background-image: url('./images/header1.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
  }
  
  
  
  